* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(205, 166, 205, 0.778);
  font-family: Poppins , sans-serif;
}

.cssMesmo {
  align-items: center;
  background-color: rgb(232, 212, 251);
  background-image: url('./imgs/flores.gif');
  background-repeat: repeat;
  background-size: 500px;
  display: flex;
  flex-direction: column;
  height: 90vh;
  justify-content: center;
  position: relative;
  width: 100%;
}

h1 {
  color: rgba(246, 246, 246, 0.748);
}

.answer-options {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 400px;
}

.option, .green, .red {
  border: 1px solid rgba(0, 0, 0, 0.165);
  border-radius: 7px;
  box-shadow: 2px 2px 2px 0.4px rgba(0, 0, 0, 0.132);
  color: rgba(60, 45, 61, 0.772);
  font-size: 18px;
  font-weight: 600;
  height: 50px;
  letter-spacing: 1px;
  transition: transform 300ms;
}

.green {
  background-color: rgb(237, 205, 241);
  color: rgba(60, 45, 61, 0.772);
}

.red {
  background-color: rgb(226, 205, 241);
  color: rgba(60, 45, 61, 0.772);
}

.option:nth-child( odd ) {
  background-color: rgb(227, 187, 241);
}

.option:nth-child( even ) {
  background-color: rgb(226, 205, 241);
}

.option:disabled {
  background-color: rgb(230, 208, 252);
  color: rgba(125, 121, 125, 0.394);
  cursor: not-allowed;
}

.option:hover:enabled {
  cursor: pointer;
  filter: drop-shadow(3px 2px 3px rgba(179, 126, 185, 0.772));
  transform: translateY(-2.5px);
  transition: 400ms;
}

.question-container {
  align-items: center;
  background-color: rgba(242, 237, 244, 0.765);
  border-radius: 8px;
  box-shadow: 2px 3px 3px 0.2px rgba(43, 3, 40, 0.287);
  display: flex;
  flex-direction: column;
  width: 500px;
}

.all-container {
  display: flex;
  gap: 50px;
  justify-content: center;
}

.question-category {
  align-items: center;
  background-color: rgb(192, 150, 235);
  border-radius: 8px;
  bottom: 20px;
  box-shadow: 2px 3px 2px 0.1px rgba(43, 3, 40, 0.325);
  color: rgba(29, 3, 29, 0.748);
  display: flex;
  height: 50px;
  justify-content: center;
  margin-bottom: 25px;
  padding: 35px;
  position: relative;
  width: 400px;
}

.question-text {
  align-items: center;
  color: rgba(51, 38, 51, 0.641);
  display: flex;
  justify-content: center;
  margin-left: 38px;
  margin-right: 38px;
  text-align: center;
}

.timer-container {
  padding-bottom: 15px;
  position: relative;
}

.timer {
  align-items: center;
  display: flex;
  height: 60px;
  justify-content: center;
  margin-top: 80%;
  width: 60px;
}

.hourglass {
  bottom: 5px;
  left: 5px;
  position: absolute;
  width: 130px;
}

.timer-count {
  color: rgb(160, 47, 201);
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  right: 60px;
}

.alarm-time {
  width: 80px;
}

.btn-next {
  background-color: rgb(170, 114, 225);
  border: 1px solid rgba(0, 0, 0, 0.165);
  border-radius: 3px;
  box-shadow: 2px 2px 3px 0.3px rgba(0, 0, 0, 0.132);
  color: rgba(255, 255, 255, 0.772);
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  height: 35px;
  letter-spacing: 1px;
  transition: transform 300ms;
}

.btn-next:hover {
  cursor: pointer;
  filter: drop-shadow(2px 2px 2px rgba(179, 126, 185, 0.772));
  transform: translateY(-2.5px);
  transition: 400ms;
}

.game-trivia {
  align-items: center;
  animation: pulse 4s linear 0s infinite;
  background-color: rgb(192, 150, 235);
  bottom: 340px;
  filter: drop-shadow(2px 3px 3px rgba(160, 111, 167, 0.772));
  height: 150px;
  margin: 70px;
  margin-bottom: -280px;
  position: relative;
  right: 215px;
  rotate: -45deg;
  transform: rotate(-45deg);
  width: 150px;
}

@keyframes pulse {

  0% {
    transform: scale(1) rotate(0deg);
  }

  50% {
    transform: scale(0.8) rotate(0deg);
  }

  70% {
    transform: scale(0.9) rotate(0deg);
  }

  80% {
    transform: scale(1.05) rotate(0deg);
  }

  100% {
    transform: scale(1) rotate(0deg);
  }
}

.game-trivia:before, .game-trivia:after {
  background-color: rgb(192, 150, 235);
  border-radius: 50%;
  content: '';
  height: 150px;
  position: absolute;
  width: 150px;
}

.game-trivia:before {
  top: -80px;
}

.game-trivia:after {
  left: 80px;
}

.title-container {
  position: relative;
}

.title-trivia-game {
  font-family: Emilys Candy , cursive;
  font-size: 55px;
  left: -150px;
  letter-spacing: 4px;
  margin-bottom: 40px;
  position: absolute;
  top: -260px;
  z-index: 50;
}
