.ranking {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.499);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 50px;
  margin-top: 120px;
  padding-bottom: 50px;
  padding-top: 50px;
  width: 498px;
}

.ranking-container {
  align-items: center;
  background-color: rgba(189, 155, 222, 0.756);
  border-radius: 40px;
  display: flex;
  height: 70px;
  justify-content: space-between;
  padding-left: 8px;
  width: 400px;
}

.list {
  display: none;
}

.ranking-container:nth-child( -n + 4 ) {
  display: flex;
}

.ranking-title {
  color: rgb(192, 150, 235);
  font-size: 35px;
}

.img-ranking {
  border-radius: 100%;
  width: 60px;
}

.player-ranking {
  margin-right: 50px;
}

.score-ranking {
  align-items: center;
  background-color: rgba(249, 238, 251, 0.992);
  border-radius: 40px;
  box-shadow: 0 4px 15px rgba(37, 1, 39, 0.178);
  display: flex;
  height: 70px;
  justify-content: center;
  width: 184px;
}
