.ranking {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.499);
  border-radius: 10px;
  box-shadow: 2px 2px 3px 1px rgba(43, 3, 40, 0.287);
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 50px;
  margin-top: 120px;
  padding-bottom: 50px;
  padding-top: 50px;
  width: 498px;
}

.ranking-container {
  align-items: center;
  background-color: rgba(189, 155, 222, 0.756);
  border-radius: 40px;
  box-shadow: 2px 2px 2px 0.2px rgba(43, 3, 40, 0.287);
  display: flex;
  height: 70px;
  justify-content: space-between;
  padding-left: 8px;
  width: 400px;
}

.list {
  display: none;
}

.ranking-container:nth-child( -n + 4 ) {
  display: flex;
}

.ranking-title {
  color: rgb(177, 122, 231);
  font-size: 35px;
}

.img-ranking {
  border-radius: 100%;
  width: 60px;
}

.player-ranking {
  color: rgba(62, 13, 62, 0.849);
  font-size: 20px;
  font-weight: 600;
  margin-right: 50px;
}

.score-ranking {
  align-items: center;
  background-color: rgba(249, 238, 251, 0.839);
  border-radius: 40px;
  box-shadow: 0 4px 15px rgba(76, 6, 80, 0.5);
  color: rgba(60, 45, 61, 0.892);
  display: flex;
  font-size: 20px;
  height: 70px;
  justify-content: space-around;
  width: 184px;
}

.star-ranking {
  font-size: 40px;
}

.total-score-ranking {
  font-size: 18px;
  font-weight: 800;
}

.button-go-home {
  background-color: rgb(170, 114, 225);
  border: none;
  border-radius: 8px;
  box-shadow: 2px 2px 2px 0.2px rgba(43, 3, 40, 0.287);
  color: rgba(255, 255, 255, 0.772);
  cursor: pointer;
  font-size: 23px;
  font-weight: 600;
  height: 50px;
  letter-spacing: 1px;
  transition: transform 300ms;
  width: 380px;
}

.button-go-home:hover {
  cursor: pointer;
  filter: drop-shadow(2px 2px 4px rgba(155, 51, 190, 0.853));
  transform: translateY(-2.5px);
  transition: 400ms;
}
